.content {
  padding: 20px;
  line-height: 1.7;
  font-size: 18px;
  font-family: "Lato", "Trebuchet MS", Roboto, Helvetica, Arial, sans-serif;

  max-width: 720px;
}
.label {
  margin: 5px 10px 5px 0;
  border: 1px solid white;
  cursor: pointer;
  display: block;
  padding: 1px 10px;
  position: relative;
  border-radius: 4px;
  font-size: 16px;
}
.selected {
  background: white;
  color: rgb(31, 41, 55);
}
.labelContainer {
  display: flex;
  flex-grow: 1;
  color: #fff;
  font-weight: bold;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
  text-transform: uppercase;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.topBar {
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
  padding: 12px;
  background: rgb(31, 41, 55);
  box-sizing: border-box;
  font-size: 20px;
}

.nav {
  display: flex;
}

.navLink {
  cursor: pointer;
  width: 16px;
}

.span {
  font-size: 18px;
  padding: 0.25em 0.4em;
  background: #ffe184;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

.spanLabel {
  font-size: 12px;
  padding-left: 8px;
  text-transform: uppercase;
  color: rgb(31, 41, 55);
}
